<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../tables.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

<div align="center">
    <h1>Edytor zwierze</h1>
    <br/>

    <form action="#" th:action="@{/updateZwierze}" th:object="${zwierzeta}" method="post">
        <table id="tt">
            <!-- first row -->
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{id_zwierze}" readonly = "readonly"></td>
            </tr>

            <tr>
                <td>Imie:</td>
                <td><input type="text" th:field="*{imie}"></td>

            </tr>

            <tr>
                <td>Data urodzenia:</td>
                <td><input type="date" th:field="*{data_urodzenia}"></td>
            </tr>

            <tr>
                <td>ID_oceanarium:</td>
                <td><input type="text" th:field="*{id_akwen}" ></td>
            </tr>

            <tr>
                <td>ID_adresu:</td>
                <td><input type="text" th:field="*{id_gatunku}"></td>

            </tr>

            <tr>
                <td>ID_wolontariusza:</td>
                <td><input type="text" th:field="*{id_wolontariusz}"></td>
            </tr>

            <!--button-->
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>


        </table>
    </form>
</div>

</body>
</html>