body
{
  background-color: #004225;
  color: #ffffff;
  margin:2px;
}
#container{
    width: 100%;
    text-align: -webkit-center;
    margin: 20px;
}
a{
    text-decoration:none;
    color: #fff;
}
a:hover{
    color: #ccc;
}