<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nowe oceanarium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../tables.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
<div align="center">
    <h1>Dodaj nowego pracownika</h1>
    <br/>

    <form action="#" th:action="@{/savePracownik}" th:object="${pracownicy}" method="post">
        <table border="1" cellpadding="1" style="background-color : #006994">
            <!-- first row -->
            <tr>
                <td>Imię:</td>
                <td><input type="text" th:field="*{imie}"></td>
            </tr>

            <!-- second row -->
            <tr>
                <td>Nazwisko:</td>
                <td><input type="text" th:field="*{nazwisko}"></td>
            </tr>
            <!-- third row -->
            <tr>
                <td>Data urodzenia:</td>
                <td><input type="date" placeholder="yyyy-mm-dd" th:field="*{data_urodzenia}"></td>
            </tr>
            <!-- fourth row -->
            <tr>
                <td>Płeć:</td>
                <td><select th:field="*{plec}">
                    <option value="M">Mężczyzna</option>
                    <option value="K">Kobieta</option>
                </select></td>
            </tr>
            <tr>
                <td>Data zatrudnienia:</td>
                <td><input type="date" placeholder="yyyy-mm-dd" th:field="*{data_zatrudnienia}"></td>
            </tr>
            <tr>
                <td>PESEL:</td>
                <td><input type="text" th:field="*{pesel}"></td>
            </tr>
            <tr>
                <td>ID oceanarium:</td>
                <td><input type="text"  th:field="*{id_oceanarium}"></td>
            </tr>
            <tr>
                <td>ID adresu:</td>
                <td><input type="text" value="3" th:field="*{id_adresu}"></td>
            </tr>
            <tr>
                <td>ID stanowiska:</td>
                <td><input type="text" th:field="*{id_stanowiska}"></td>
            </tr>

            <!--button-->
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
            </tr>

        </table>

    </form>

</div>

</body>
</html>