<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista adresów</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{tables.css}" type="text/css" />
    <link rel="stylesheet" href="../tables.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>


<body>
<a id="title" th:href="@{'/'}">Oceanarium</a>
<hr>
<div id="container">
    <h1>Adresy</h1>
    <a href="/newAdres">Dodaj nowy adres</a>
    <br><br/>

    <table id="tt">
        <thead>
        <tr>
            <th>ID adresu</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Numer</th>
            <th>Kod pocztowy</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="adres : ${adresList}">
            <td th:text="${adres.id_adresu}">ID</td>
            <td th:text="${adres.miasto}">Miasto</td>
            <td th:text="${adres.ulica}">Ulica</td>
            <td th:text="${adres.numer}">Numer</td>
            <td th:text="${adres.kod_pocztowy}">kod_pocztowy</td>
            <td>
                <a th:href="@{'/editAdres/' + ${adres.id_adresu}}">Edytuj</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteAdres/' + ${adres.id_adresu}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>