<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nowy adres</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../tables.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
<div align="center">
    <h1>Dodaj nowy adres</h1>
    <br/>

    <form action="#" th:action="@{/saveAdres}" th:object="${adresy}" method="post">
        <table border="1" cellpadding="1" style="background-color : #006994">
            <!-- first row -->
            <tr>
                <td>Miasto:</td>
                <td><input type="text" th:field="*{miasto}"></td>
            </tr>

            <!-- second row -->
            <tr>
                <td>Ulica:</td>
                <td><input type="text" th:field="*{ulica}"/>
                </td>
            </tr>
            <!-- third row -->
            <tr>
                <td>Numer:</td>
                <td><input type="text" th:field="*{numer}"></td>
            </tr>
            <!-- fourth row -->
            <tr>
                <td>Kod pocztowy:</td>
                <td><input type="text" th:field="*{kod_pocztowy}"></td>
            </tr>

            <!--button-->
            <tr>
                <td colspan="2">
                    <button type="submit">Dodaj</button>
            </tr>

        </table>

    </form>

</div>

</body>
</html>