<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Oceanarium - baza dancyh"/>
    <link th:href="@{ style.css }" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../style.css" type="text/css" />

</head>
<body>
    <a id="title" th:href="@{'/'}">Oceanarium</a>
    <hr>
    <div id="container">
        <a  th:href="@{'/pracownicy'}">
            <div class="box">
                    <div class="linkBox">
                        Pracownicy
                    </div>
            </div>
        </a>
        <a th:href="@{'/zwierzeta'}">
                <div class="box">
                    <div class="linkBox">
                        Zwierzęta
                    </div>
                </div>
        </a>
        <div style="clear:both"></div>
        <a th:href="@{'/sektory'}">
        <div class="box">
            <div class="linkBox">
                Sektory
            </div>
        </div>
        </a>
        <a th:href="@{'/adresy'}">
                <div class="box">
                    <div class="linkBox">
                    Adresy
                    </div>
            </div>
        </a>
    </div>
</body>
</html>