<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<body>

<div align="center">
    <h1>Oceanarium</h1>
    <a href="/new">Dodaj nowe oceanarium</a>
    <br><br/>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Numer</th>
            <th>Kod Pocztowy</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="adres : ${adresList}">
            <td th:text="${adres.id_adresu}">ID</td>
            <td th:text="${adres.miasto}">Miasto</td>
            <td th:text="${adres.ulica}">Ulica</td>
            <td th:text="${adres.numer}">numer</td>
            <td th:text="${adres.kod_pocztowy}">kod_pocztowy</td>
            <td>
                <a th:href="@{'/edit/' + ${adres.id_adresu}}">Edytuj</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${adres.id_adresu}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:text="'Hello, ' + ${adresList.get(1).miasto} + '!'"></p>
</div>
</body>
</html>